<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="light-style layout-navbar-fixed layout-wide">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>hammerteen</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/hammerteen_favicon.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core2.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <link rel="stylesheet" href="/assets/css/mycss.css" />
    <link rel="stylesheet" href="/assets/vendor/css/pages/front-page.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/plyr.css">
    <link rel="stylesheet" href="/assets/css/flatpickr.css">
    <link rel="stylesheet" href="/assets/css/fullcalendar.css">
    <style data-fullcalendar=""></style>

    <!--  썸머노트  -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <!--  제이쿼리  -->
    <script src="/assets/jquery/jquery-3.7.1.js"></script>
    <script src="/assets/jquery/jquery-ui.js"></script>
    <link href="/assets/jquery/jquery-ui.css" rel="stylesheet">

    <th:block layout:fragment="topScript">

    </th:block>
</head>

<body>
<script src="/assets/vendor/js/dropdown-hover.js"></script>
<script src="/assets/vendor/js/mega-dropdown.js"></script>

<!-- header: Start -->
<nav class="layout-navbar shadow-none py-0 ">
    <div class="container">
        <div class="navbar navbar-expand-lg landing-navbar px-3 px-md-4 ">
            <!-- Menu logo wrapper: Start -->
            <div class="navbar-brand app-brand demo d-flex py-0 me-4">
                <!-- Mobile menu toggle: Start-->
                <button class="navbar-toggler border-0 px-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tf-icons bx bx-menu bx-sm align-middle"></i>
                </button>
                <!-- Mobile menu toggle: End-->
                <a href="/" class="app-brand-link">
                    <img class="pt-1" width="120px" src="/assets/img/hammerteen_logo.svg">
                </a>
            </div>
            <!-- Menu logo wrapper: End -->
            <!-- Menu wrapper: Start -->
            <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
                <button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tf-icons bx bx-x bx-sm"></i>
                </button>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item mega-dropdown">
                        <a href="/lecture/list" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" th:classappend="${pageType != null and pageType.menu1.toString().equals('강의') ? 'active':''}" aria-expanded="false" data-bs-toggle="mega-dropdown" data-trigger="hover">
                            <span data-i18n="Pages">강의</span>
                        </a>
                        <div class="dropdown-menu p-4">
                            <div class="row gy-4">
                                <div class="col-12 col-lg">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=전체" th:classappend="${pageType != null and pageType.menu1.toString().equals('강의') and (param.category == null or param.category.toString().equals('전체')) ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>전체</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=국어" th:classappend="${param.category != null and param.category.toString().equals('국어') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>국어</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=수학" th:classappend="${param.category != null and param.category.toString().equals('수학') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>수학</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=영어" th:classappend="${param.category != null and param.category.toString().equals('영어') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>영어</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=한국사" th:classappend="${param.category != null and param.category.toString().equals('한국사') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>한국사</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=사회" th:classappend="${param.category != null and param.category.toString().equals('사회') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>사회</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=과학" th:classappend="${param.category != null and param.category.toString().equals('과학') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>과학</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=직업" th:classappend="${param.category != null and param.category.toString().equals('직업') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>직업</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=제2외국어" th:classappend="${param.category != null and param.category.toString().equals('제2외국어') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>제2외국어</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="/lecture/list?category=일반/진로/교양" th:classappend="${param.category != null and param.category.toString().equals('일반/진로/교양') ? 'active' : ''}">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>일반/진로/교양</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" th:classappend="${pageType != null and pageType.menu1.toString().equals('선생님') ? 'active':''}" href="/lecture/teacherList">선생님</a>
                    </li>
                    <li class="nav-item mega-dropdown">
                        <a href="#" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" th:classappend="${pageType != null and pageType.menu1.toString().equals('커뮤니티') ? 'active':''}" aria-expanded="false" data-bs-toggle="mega-dropdown" data-trigger="hover">
                            <span data-i18n="Pages">커뮤니티</span>
                        </a>
                        <div class="dropdown-menu p-4">
                            <div class="row gy-4">
                                <div class="col-12 col-lg">
                                    <ul class="nav flex-column">
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('교육정보게시판') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="#">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>교육정보게시판</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('자료게시판') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="#">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>자료게시판</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('자료게시판') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/board/list">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>자유게시판</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('공지사항') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="#">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>공지사항</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('QNA(1:1)') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="#">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>QNA(1:1)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mega-dropdown">
                        <a href="/mystudy/myLectureList" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" th:classappend="${pageType != null and pageType.menu1.toString().equals('나의 학습방') ? 'active':''}" aria-expanded="false" data-bs-toggle="mega-dropdown" data-trigger="hover">
                            <span data-i18n="Pages">나의 학습방</span>
                        </a>
                        <div class="dropdown-menu p-4">
                            <div class="row gy-4">
                                <div class="col-12 col-lg">
                                    <ul class="nav flex-column">
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('나의 강의실') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mystudy/myLectureList">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>나의 강의실</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('성적표') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mystudy/myReportCardList">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>성적표</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('학습계획표') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mystudy/myStudyPlan">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>학습계획표</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mega-dropdown">
                        <a href="/mypage/mypage" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" th:classappend="${pageType != null and pageType.menu1.toString().equals('마이페이지') ? 'active':''}" aria-expanded="false" data-bs-toggle="mega-dropdown" data-trigger="hover">
                            <span data-i18n="Pages">마이페이지</span>
                        </a>
                        <div class="dropdown-menu p-4">
                            <div class="row gy-4">
                                <div class="col-12 col-lg">
                                    <ul class="nav flex-column">
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('회원정보 수정') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mypage/mypage">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>회원정보 수정</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('작성글 확인') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mypage/writeList?category=qna">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>작성글 확인</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('결제 내역') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="#">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>결제 내역</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('장바구니 내역') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mypage/cart">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>장바구니 내역</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('찜 내역') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mypage/likeList">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>찜 내역</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:classappend="${pageType != null and pageType.menu2.toString().equals('회원관리') ? 'active':''}">
                                            <a class="nav-link mega-dropdown-link" href="/mypage/memberList">
                                                <i class='bx bx-radio-circle me-2'></i>
                                                <span>회원관리</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Menu wrapper: End -->
            <!-- Toolbar: Start -->
            <ul class="navbar-nav flex-row align-items-center ms-auto gap-2">
                <li>
                    <a href="/login/join" class="text-primary">가입하기</a>
                </li>
                <li class="p-1">
                    <a href="/login/login" class="btn btn-primary"><span class="tf-icons bx bx-user me-md-1"></span><span class="d-none d-md-block">로그인</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-primary"><span class="tf-icons bx bx-user me-md-1"></span><span class="d-none d-md-block">로그아웃</span></a>
                </li>
            </ul>
            <!-- Toolbar: End -->
        </div>
    </div>
</nav>
<!-- header: End -->

<!-- Breadcrumbs : start -->
<th:block th:if="${pageType != null}">
<!--    and !menu1.toString().equals('메인')-->
    <div class="breadcrumbs p-3 bg-label-primary bg-thunder ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title m-0 p-0 fw-bold" th:text="${pageType.menu2}">메뉴명</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav m-0 p-0 nav justify-content-end">
                        <li ><span th:text="${pageType.menu1}">메뉴명</span>&nbsp;>&nbsp;</li>
                        <li th:text="${pageType.menu2}">메뉴명</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- Breadcrumbs : end -->

<!-- Sections:Start -->
<th:block layout:fragment="content">
</th:block>
<!-- / Sections:End -->


<!-- Footer: Start -->
<footer class="landing-footer bg-body footer-text">
    <div class="footer-top position-relative overflow-hidden z-1 py-0" style="background-color: #282c3e">
        <div class="container pt-5">
            <div class="row gx-0 gy-4 g-md-5">
                <div class="col-lg-3">
                    <a href="/" class="app-brand-link mb-4">
                        <img class="pt-1" width="120px" src="/assets/img/hammerteen_logo_white.svg">
                    </a>
                    <p class="footer-text footer-logo-description mb-4">
                        10대들이여 망치를 들라!
                    </p>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <h5 class="text-muted">This Project Made By</h5>
                    <ul class="p-0 m-0 d-flex justify-content-between list-unstyled">
                        <li>👑 Juyeon Jeon <img class="w-15px" src="/assets/img/icon/github.svg"></li>
                        <li>JaeSeon Lee <img class="w-15px" src="/assets/img/icon/github.svg"></li>
                        <li>JongYun Chae <img class="w-15px" src="/assets/img/icon/github.svg"></li>
                        <li>Jeehyun Jang <img class="w-15px" src="/assets/img/icon/github.svg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
            <div class="mb-2 mb-md-0">
                <a href="https://themeselection.com" target="_blank" class="fw-medium text-white footer-link">ThemeSelection,</a>
                <span class="footer-text"> Made with ❤️ for a better web.</span>
            </div>
            <div>
                <a href="https://github.com/themeselection" class="footer-link me-3" target="_blank">
                    <img src="/assets/img/front-pages/icons/github-light.png" alt="github icon" data-app-light-img="front-pages/icons/github-light.png" data-app-dark-img="front-pages/icons/github-dark.png" />
                </a>
                <a href="https://www.facebook.com/ThemeSelections/" class="footer-link me-3" target="_blank">
                    <img src="/assets/img/front-pages/icons/facebook-light.png" alt="facebook icon" data-app-light-img="front-pages/icons/facebook-light.png" data-app-dark-img="front-pages/icons/facebook-dark.png" />
                </a>
                <a href="https://twitter.com/Theme_Selection" class="footer-link me-3" target="_blank">
                    <img src="/assets/img/front-pages/icons/twitter-light.png" alt="twitter icon" data-app-light-img="front-pages/icons/twitter-light.png" data-app-dark-img="front-pages/icons/twitter-dark.png" />
                </a>
                <a href="https://www.instagram.com/themeselection/" class="footer-link" target="_blank">
                    <img src="/assets/img/front-pages/icons/instagram-light.png" alt="google icon" data-app-light-img="front-pages/icons/instagram-light.png" data-app-dark-img="front-pages/icons/instagram-dark.png" />
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer: End -->

<!-- Core JS -->
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/js/front-config.js"></script>
<script src="/assets/js/commonUtil.js"></script>
<script src="/assets/summernote/summernote-lite.min.js"></script>
<script src="/assets/vendor/js/helpers.js"></script>
<script src="/assets/js/front-main.js"></script>
<th:block layout:fragment="script">

</th:block>
</body>
</html>