<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-wide "
      data-theme="theme-default" data-assets-path="/assets/"
      data-template="front-pages"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/common.html}">
<!--Page CSS -->
  <th:block layout:fragment="topScript">
  <link rel="stylesheet" href="/assets/vendor/css/pages/wizard-ex-checkout.css" />
  <script src="/assets/vendor/js/template-customizer.js"></script>

  </th:block>


<th:block layout:fragment="content">
<!-- Sections:Start -->

<section class="section-py bg-body">
  <div class="container">
    <form id="wizard-checkout-form" class="card p-5" onSubmit="return false">
      <!-- Cart -->
      <div id="checkout-cart" class="content">
        <div class="row">
          <!-- Cart left -->
          <div class="col-xl-12 mb-3 mb-xl-0">
            <!-- Shopping bag -->
            <h5>n 개의 강의</h5>
            <div class="d-flex align-items-center m-0">
              <div class="form-check form-check-primary col-6">
                <input class="form-check-input" type="checkbox" id="checkAll" />
                <label class="form-check-label" for="checkAll">&nbsp; 전체 선택</label>
              </div>
              <div class="col-6 row justify-content-end">
                <button type="button" class="btn btn-label-danger col-lg-3 col-sm-12 m-0 my-3">선택 강의 삭제</button>
              </div>
            </div>
            <hr class="mt-1">
            <ul class="list-group mb-3">
              <li class="list-group-item p-4">
                <div class="d-flex gap-3">
                  <div class="form-check form-check-primary mt-3 d-flex align-items-center">
                    <label class="form-check-label" for="customCheck"></label>
                    <input class="form-check-input selectCheck" type="checkbox" id="customCheck" checked />
                  </div>
                  <div class="flex-shrink-0 d-flex align-items-center">
                    <img src="/assets/img/image/m.png" alt="강의 썸네일" class="w-px-100">
                  </div>
                  <div class="flex-grow-1">
                    <div class="row align-items-center">
                      <div class="col-md-8">
                        <p class="me-3 mb-0"><a href="/lecture/view" class="text-body">강의 명</a></p>
                        <div class="text-muted mb-2 d-flex flex-wrap"><span class="me-1"><a href="javascript:void(0)" class="me-3">누구누구</a></span>선생님</div>
                      </div>
                      <div class="col-md-4">
                        <div class="text-md-end">
                          <button type="button" class="btn-close btn-pinned" aria-label="Close" onclick="removeCart(this)"></button>
                          <div class="my-2 my-md-4 mb-md-5"><span class="text-primary">39,900&#8361;</span></div>
                          <button type="button" class="btn btn-sm btn-label-primary mt-md-3">찜하기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <!-- Wishlist -->
            <div class="list-group">
              <a href="/lecture/list" class="list-group-item d-flex justify-content-between">
                <span>강의 더 둘러보기🏃🏻‍♀️</span>
                <i class="bx bx-sm bx-chevron-right scaleX-n1-rtl"></i>
              </a>
            </div>
            <div class="list-group">
              <div class="row m-0 my-3 justify-content-center">
              <button type="button" class="btn btn-label-primary col-lg-6 col-sm-12 m-0 my-3" onclick="window.location.href='/payment/payment'">선택 강의 결제</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

</th:block>


<th:block layout:fragment="script">
  <script src="/assets/vendor/libs/popper/popper.js"></script>

  <!-- Vendors JS -->
  <script src="/assets/vendor/libs/jquery/jquery.js"></script>
  <script>
    //전체 선택
    const checkAll = document.getElementById('checkAll');
    checkAll.addEventListener('change', () => {
      let checkYN = checkAll.checked;
      let selectChecks = document.querySelectorAll('.selectCheck');
      if (checkYN) {
        for (let select of selectChecks) {
          select.checked = true;
        }
      } else {
        for (let select of selectChecks) {
          select.checked = false;
        }
      }
    })
    function removeCart(element) {
      element.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.remove();
    }
  </script>
</th:block>


</html>

<!-- beautify ignore:end -->

