<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section class="section-py">
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">나의 계정 정보</h5>
                    <!-- Account -->
                    <form id="frmMypage" name="frm" action="/mypage/mypage" method="post" enctype="multipart/form-data" onsubmit="checkForm(this)">
                      <input type="hidden" id="temFileName" name="temFileName" th:value="${session.memberDTO.fileName != null ? session.memberDTO.fileName : ''}" />
                      <input type="hidden" name="userState" id="userState" value="Y">
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img th:src="${session.memberDTO.fileName != null ? '/upload/' + session.memberDTO.fileName : '/assets/img/image/images2.jpeg'}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">사진 올리기</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input type="file" id="upload" name="file" class="account-file-input" hidden accept="image/png, image/jpeg" multiple/>
                          </label>
                          <button type="button" id="reset_button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">초기화</span>
                          </button>
                          <p class="text-muted mb-0" >800K사이즈의 JPG, GIF 또는 PNG만 업로드 가능합니다.</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">

                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="userId" class="form-label">ID</label>
                            <input data-name="아이디" class="form-control" type="text" name="userId" id="userId" th:value="${session.memberDTO.userId}" readonly/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="name" class="form-label">이름</label>
                            <input data-name="이름" class="form-control" type="text" id="name" name="name" th:value="${session.memberDTO.name}" readonly/>
                          </div>
                          <div class="mb-3 col-md-6 form-password-toggle">
                            <label class="form-label" for="pwd">비밀번호</label>
                            <div class="input-group input-group-merge">
                              <input data-name="비밀번호" type="password" id="pwd" class="form-control" name="pwd" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6 form-password-toggle">
                            <label class="form-label" for="confirm_pwd">비밀번호 재입력</label>
                            <div class="input-group input-group-merge">
                              <input data-name="비밀번호 재입력" type="password" id="confirm_pwd" class="form-control" name="confirm_pwd" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                            </div>

                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="birthday" class="form-label">생년월일</label>
                            <input data-name="생년월일" type="date" class="form-control"  id="birthday"  name="birthday" th:value="${session.memberDTO.birthday}" readonly/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="row">
                              <div class="col-lg-8 col-sm-9 pe-lg-1">
                                <label for="email" class="form-label">이메일</label>
                                <input data-name="이메일" type="text" class="form-control" id="email" name ="email" th:value="${session.memberDTO.email}" placeholder="abc@email.com" readonly/>
                                <input type="hidden" id="authEmail" name="authEmail" value="true">
                              </div>
                              <div class="col-lg-4 col-sm-3 align-content-end ps-lg-1">
                                <button type="button" class="form-control btn btn-outline-primary" id="emailCheck" name="emailCheck">다시입력</button>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="phoneNumber" class="form-label">전화번호</label>
                            <div class="input-group">
                              <!-- Phone Number Prefix -->
                              <input data-name="전화번호" class="form-control" type="text" id="phoneNumber" name="phoneNumber" th:value="${#strings.substring(session.memberDTO.phoneNumber, 0, 3)}" placeholder="010" style="width: 80px;" maxlength="3"/>
                              <!-- Separator -->
                              <span class="input-group-text">-</span>
                              <!-- Phone Number Middle -->
                              <input data-name="전화번호" class="form-control" type="text" id="phoneNumber2" name="phoneNumber" th:value="${#strings.substring(session.memberDTO.phoneNumber, 3, #strings.length(session.memberDTO.phoneNumber)-4)}" placeholder="1234" style="width: 100px;" maxlength="4" />
                              <!-- Separator -->
                              <span class="input-group-text">-</span>
                              <!-- Phone Number Suffix -->
                              <input data-name="전화번호" class="form-control" type="text" id="phoneNumber3" name="phoneNumber" th:value="${#strings.substring(session.memberDTO.phoneNumber, #strings.length(session.memberDTO.phoneNumber)-4, #strings.length(session.memberDTO.phoneNumber))}" placeholder="5678" style="width: 100px;" maxlength="4"/>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="row">
                              <div class="col-lg-8 col-sm-8 pe-lg-1 px-sm-2">
                                <label for="zipcode" class="form-label">우편번호</label>
                                <input data-name="우편번호" type="text" class="form-control bg-white" id="zipCode" name="zipCode" placeholder="우편번호" readonly th:value="${session.memberDTO.zipCode}"/>
                              </div>
                              <div class="col-lg-4 col-sm-4 align-content-end ps-lg-1">
                                <button type="button" class="form-control btn btn-outline-primary" id="zipCodeBtn" name="zipCodeBtn">우편번호</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <div class="mb-3 col-md-6 ">
                            <label for="addr1" class="form-label">주소</label>
                            <input data-name="주소" class="form-control bg-white" type="text" id="addr1" name="addr1" value="" placeholder="주소" th:value="${session.memberDTO.addr1}" readonly/>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                          <div class="mb-3 col-md-6 ">
                            <label for="addr2" class="form-label">상세주소</label>
                            <input data-name="상세주소" class="form-control" type="text" id="addr2" name="addr2" value="" placeholder="상세주소" th:value="${session.memberDTO.addr2}"/>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit"  id="submit_button" class="btn btn-primary me-2">수정하기</button>
                        </div>

                    </div>
                    <!-- /Account -->
                    </form>
                  </div>


                  <div class="card">
                    <h5 class="card-header">회원 탈퇴</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">정말로 탈퇴 하시는건가요?🥺</h6>
                          <p class="mb-0">회원 탈퇴를 하시면 사용하셨던 정보는 모두 사라지고, 동일 아이디로는 재 가입이 불가능합니다.<br/>신중히 확인해주세요!</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation"/>
                          <label class="form-check-label" for="accountActivation">회원 탈퇴에 동의합니다.</label>
                        </div>
                        <button type="submit" id="delete_button" class="btn btn-danger deactivate-account">회원 탈퇴하기</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- / Content -->
            <div class="content-backdrop fade"></div>

          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
      <div id="divForToast"></div>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
<!--    <script src="/assets/vendor/libs/popper/popper.js"></script>-->
<!--    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>-->
<!--    <script src="/assets/vendor/js/menu.js"></script>-->
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="/assets/js/validation.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      let zipcode = document.getElementById("zipCode");
      let zipcodeBtn = document.getElementById("zipCodeBtn");
      let addr1 = document.getElementById("addr1");

      zipcodeBtn.addEventListener("click", ()=> {
      zipCode(zipcode, addr1);
      });

      //이메일 중복검사
      let emailCheckButton = document.querySelector("#emailCheck");
      emailCheckButton.addEventListener("click", function(e) {
        e.preventDefault();
        let emailInput = document.querySelector("#email");
        let email = emailInput.value;
        if (emailCheckButton.textContent === "중복체크") {
          if(nullCheck($(emailInput))) {
            // AJAX 통신
            $.ajax({
              url: '/member/emailduplecheck',
              type: 'GET',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              data: {email: email},

              success: function (response) {
                if (response.success) {
                  const confirm_msg = "이 이메일은 사용 가능합니다.\n사용하시겠습니까?";
                  if (confirm(confirm_msg)) {
                    emailInput.value = email;
                    emailInput.readOnly = true;
                    $('#authEmail').val("true");
                    emailCheckButton.textContent = "다시입력";
                  }
                } else {
                  alert(response.message);
                }
              },
              error: function () {
                alert("서버와의 통신 중 오류가 발생했습니다.");
              }
            });
          } else {
            showToast("공란은 입력할 수 없습니다.");
          }
        } else if (emailCheckButton.textContent === "다시입력") {
          // 다시입력 로직
          emailInput.readOnly = false;
          emailInput.value = '';
          $('#authEmail').val("false");
          emailCheckButton.textContent = "중복체크";
        }
      });

      //파일업로드
      document.getElementById('upload').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            document.getElementById('uploadedAvatar').src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });

      document.addEventListener("DOMContentLoaded", function() {
        // 콘솔에 로그 추가
        console.log("DOM fully loaded and parsed");

        // 이미지 리셋
        document.getElementById("reset_button").addEventListener("click", function() {
          // 콘솔에 로그 추가
          console.log("Reset button clicked");

          // 'upload' input 요소 선택
          const uploadInput = document.getElementById("upload");
          // input 요소의 값을 초기화
          uploadInput.value = "";

          // 'uploadedAvatar' id를 가진 img 요소 선택
          const uploadedAvatar = document.getElementById("uploadedAvatar");
          // img 요소의 src 속성을 기본 이미지 경로로 변경
          uploadedAvatar.src = '/assets/img/image/images2.jpeg';
          // 'temFileName' id를 가진 input 요소 선택
          const temFileNameInput = document.getElementById("temFileName");
          // input 요소의 값을 빈 문자열로 변경
          temFileNameInput.value = "";

          // 콘솔에 로그 추가
          console.log("Image source reset to default");
        });
      });

      const delete_button = document.querySelector("#delete_button");
      delete_button.addEventListener("click",function (e){
        e.preventDefault();
        const accountActivation = document.querySelector("#accountActivation");

        if(!accountActivation.checked){
          alert("필수약관에 동의해주세요.");
          return false;
        }

        const confirm_msg = "정말로 탈퇴하시겠습니까?"
        if(confirm(confirm_msg)){
          alert("탈퇴되었습니다.")
          location.href='/mypage/delete';

        }

      });

    </script>






    </th:block>
</html>
