<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{/common/common.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section>
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <div class="row mb-1">
                                <p class="m-0 p-0">총 <span class="text-primary fw-bold" th:text="${paymentDTOList.size()}">00</span>건</p>
                            </div>
                            <div class="row mb-4">
                                <div class="card g-3">
                                    <div class="card-body row g-3">
                                        <div class="col-lg-12">
                                            <div class="card shadow-none academy-content my-3">
                                                <th:block th:if="${paymentDTOList != null and paymentDTOList.size() > 0}">
                                                <div th:each="dto : ${paymentDTOList}" class="d-flex justify-content-between align-items-center rounded shadow-none border my-2 flex-wrap gap-1 m-0">
                                                    <div class="row m-0 p-2 justify-content-between align-items-center">
                                                        <div class="col-8">
                                                            <div class="w-100 d-flex gap-1 mb-1 align-items-center" th:each="lercture : ${dto.lectureDTOList}">
                                                                <div class="col-3">
                                                                    <img class="w-100 rounded" th:src="${lercture.thumbnailImgFile} != null ? ${lercture.thumbnailImgDirectory}+${lercture.thumbnailImgFile} : '/assets/img/default.png'">
                                                                </div>
                                                                <div class="col-9">
                                                                    <h5 class="mb-1 text-primary fw-bold"><a th:href="'/lecture/view?lectureIdx='+${lercture.lectureIdx}" th:text="${lercture.title}">강의 제목입니다.</a></h5>
                                                                    <p class="mb-1"><span class="fw-medium" th:text="${lercture.teacherName}"> 전주연 </span>선생님</p>
                                                                    <p class="mb-1 p-0 text-muted"><span th:text="${lercture.price}">000</span>원</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex col-4 justify-content-end">
                                                            <div class="d-flex flex-column align-items-end">
                                                                <div>
                                                                    <span class="fw-bold" th:text="${dto.orderDTO.orderStatusToConvert}"></span>
                                                                </div>
                                                                <div>
                                                                    <span class="text-muted" th:text="${dto.orderDetailDTOList.size()}">00</span><span class="text-muted">건</span>
                                                                </div>
                                                                <div>
                                                                    <span class="text-muted" th:text="${dto.regDateToString}">2024.05.24</span>
                                                                </div>
                                                                <div>
                                                                    <span>총 <span class="text-primary fw-bold justify-content-center" th:text="${dto.paymentAmountToComma}">10,000</span>원</span>
                                                                </div>
                                                                <button type="button" class="btn btn-sm btn-label-primary mt-0 align-middle" th:data-paymentIdx="${dto.paymentIdx}" th:data-paymentamount="${dto.paymentAmountToComma}" th:data-paymentmethod="${dto.paymentMethodConvert}" th:data-regdate="${dto.regDateTimeToString}" th:data-receipt="${dto.receiptUrl}" th:data-applyNum="${dto.applyNum}" th:data-orderStatus="${dto.orderDTO.orderStatusToConvert}" data-bs-toggle="modal" data-bs-target="#detailModal" onclick="preParePaymentBillModal(this)">결제상세</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </th:block>
                                                <th:block th:unless="${paymentDTOList != null and paymentDTOList.size() > 0}">
                                                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-1 m-0">
                                                        <div class="row m-0 p-2 justify-content-between align-items-center w-100">
                                                            <p class="text-center">결제 내역이 없습니다.</p>
                                                            <a href="/lecture/list" class="btn btn-primary text-white">강의 둘러보러가기</a>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Content -->
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="detailModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reviewModalLabel">결제 상세</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button" onclick="removeTarget()"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="text-muted d-block px-2 border rounded py-3">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th class="bg-label-primary">결제방식</th>
                                    <td id="paymentMethod" class="target">카카오페이</td>
                                </tr>
                                <tr>
                                    <th class="bg-label-primary">카드 승인번호</th>
                                    <td id="applyNum" class="target">-</td>
                                </tr>
                                <tr>
                                    <th class="bg-label-primary">결제금액</th>
                                    <td><span id="paymentAmount" class="target">10,000</span>원</td>
                                </tr>
                                <tr>
                                    <th class="bg-label-primary">결제일시</th>
                                    <td id="regDate" class="target">2024.05.24</td>
                                </tr>
                                <tr>
                                    <th class="bg-label-primary">주문상태</th>
                                    <td id="orderStatus" class="target">-</td>
                                </tr>
                                <tr>
                                    <th class="bg-label-primary">영수증</th>
                                    <td><a id="receipt" href="#" class="btn btn-primary" target="_blank">영수증</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer p-0">
                            <button id="btnConfirm" class="btn btn-label-primary btn-payment data-">구매확정</button>
                            <button id="btnRefund" class="btn btn-label-danger btn-payment">환불요청</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" onclick="removeTarget()">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- build:js assets/vendor/js/core.js -->
<th:block layout:fragment="script">
    <script src="/assets/js/plyr.js"></script>
    <script src="/assets/js/iamport.payment-1.2.0.js"></script>
    <script src="/assets/js/payment.js"></script>
    <script>
        function preParePaymentBillModal(element) {
            removeTarget();
            let paymentIdx = element.dataset.paymentidx;
            let paymentMethod = element.dataset.paymentmethod;
            let applyNum = element.dataset.applynum;
            let paymentAmount = element.dataset.paymentamount;
            let regDate = element.dataset.regdate;
            let receipt = element.dataset.receipt;
            let orderStatus = element.dataset.orderstatus;
            $('#paymentMethod').text(paymentMethod);
            $('#applyNum').text(applyNum);
            $('#paymentAmount').text(paymentAmount);
            $('#regDate').text(regDate);
            $('#orderStatus').text(orderStatus);
            $('#receipt').attr("href", receipt);
            if(orderStatus == "결제완료") {
                $('.btn-payment').removeClass('d-none');
                $('.btn-payment').attr('data-paymentIdx',paymentIdx);
                $('#btnConfirm').attr('onclick','confirmThis(this)');
                $('#btnRefund').attr('onclick','refundThis(this)');
            } else {
                $('.btn-payment').addClass('d-none');
                $('.btn-payment').removeAttr('onclick');
            }
        }
        function removeTarget() {
            let targets = document.querySelectorAll('.target');
            for(let target of targets) {
                $(target).text("");
            }
            $('#receipt').attr("href", "#");
            $('.btn-payment').addClass('d-none');
            $('.btn-payment').removeAttr('onclick');
        }
    </script>
</th:block>
</body>
</html>
