<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-navbar-fixed layout-wide"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section style="padding:4rem">
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
          <div class="layout-container">
            <!-- Layout container -->
              <!-- Content wrapper -->
              <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                  <div class="row">
                      <div class="col-md-3">
                      <!-- Menu -->
                      <aside id="layout-menu" class="menu-vertical menu bg-menu-theme">
                          <ul>
                              <li class="menu-item">
                                  <a href="/mypage/writeList?category1=qna" class="menu-link">
                                      <i class="menu-icon tf-icons bx bx bxs-circle" style="font-size: 13px"></i>
                                      <div data-i18n="Misc">작성한 QnA</div>
                                  </a>
                              <li class="menu-item">
                                  <a href="/mypage/writeReplyList?category1=review" class="menu-link">
                                      <i class="menu-icon tf-icons bx bx bxs-circle" style="font-size: 13px"></i>
                                      <div data-i18n="Misc">작성한 후기</div>
                                  </a>
                              </li>
                              <li class="menu-item">
                                  <a href="/mypage/writeList?category1=eduInfo" class="menu-link">
                                      <i class="menu-icon tf-icons bx bx bxs-circle" style="font-size: 13px"></i>
                                      <div data-i18n="Under Maintenance">작성한 교육정보</div>
                                  </a>
                              </li>
                              <li class="menu-item">
                                  <a href="/mypage/writeList?category1=data" class="menu-link">
                                      <i class="menu-icon tf-icons bx bx bxs-circle" style="font-size: 13px"></i>
                                      <div data-i18n="Under Maintenance">작성한 자료실</div>
                                  </a>
                              </li>
                              <li class="menu-item">
                                  <a href="/mypage/writeList?category1=board" class="menu-link">
                                      <i class="menu-icon tf-icons bx bx bxs-circle" style="font-size: 13px"></i>
                                      <div data-i18n="Under Maintenance">작성한 자유게시판</div>
                                  </a>
                              </li>
<!--                                  </ul>-->
<!--                              </li>-->
                              <!-- Components -->
                          </ul>
                      </aside>
                      <!-- / Menu -->
                  </div>
                <div class="col-md-9">
                  <div class="card mb-4">
                    <h5 class="card-header">작성한 글 리스트</h5>
                    <div class="my-items bg-white rounded shadow-sm m-5">
                      <!-- Start List Title -->
                      <div class="item-list-title rounded-top p-3 bg-primary">
                        <div class="row align-items-center">
                          <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center">
                            <p class="p-0 m-0 text-white">강의 번호</p>
                          </div>
                          <div class="col-lg-5 col-md-5 col-12">
                            <p class="p-0 m-0 text-white">댓글 내용</p>
                          </div>
                          <div class="col-lg-2 col-md-2 col-12">
                            <p class="p-0 m-0 text-white">평점</p>
                          </div>
                          <div class="col-lg-3 col-md-2 col-12 align-right">
                            <p class="p-0 m-0 text-white">등록일</p>
                          </div>
                        </div>
                      </div>
                      <!-- End List Title -->
                      <!-- Start Single List -->
                      <th:block th:if="${pageResponseDTO.dtoList.size() > 0}">
                        <div class="single-item-list border-dark border-1 rounded-bottom item-list-title"  th:each="dto:${pageResponseDTO.dtoList}">
                          <div class="cursor-pointer row align-items-center p-3" th:data-idx="${dto.lectureReplyIdx}"
                               th:href="|/lecture/view?lectureIdx=${dto.lectureIdx}|" onclick="goToLink(this.attributes.href.nodeValue)">
                            <div class="col-lg-2 col-md-2 col-12">
                              <p class="title p-0 m-0">[[${dto.lectureIdx}]]</p>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12">
                                <p class="p-0 m-0">&nbsp;[[${dto.reviewContent}]]</p>
                            </div>
                            <div class="col-lg-2 col-md-3 col-12">
                                <p class="p-0 m-0"><span class="badge rounded-pill bg-primary">[[${dto.rating}]]점</span>
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-2 col-12 align-right">
                              <p class="p-0 m-0">[[${#strings.substring(dto.regDate,0,10)}]]</p>
                            </div>
                          </div>
                        </div>
                      </th:block>
                        <th:block th:if="${pageResponseDTO.dtoList.size() == 0}">
                            <div class="single-item-list border-dark border-1 rounded-bottom item-list-title">
                                <div class="cursor-pointer border-bottom">
                                    <div class="row align-items-center p-3">
                                        <div class="col-lg-4 col-md-5 col-12">
                                            <p class="title p-0 m-0">작성된 글이 없습니다</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                      <div class="row my-2">
                          <div class="col-12">
                              <!-- Pagination -->
                              <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
                                  <ul class="pagination">
                                      <li class="page-item prev" th:if="${pageResponseDTO.prev_page_flag}">
                                          <a class="page-link" th:href="|/mypage/writeReplyList?category=${category1}&page=${pageResponseDTO.page_block_start -10}${pageResponseDTO.linkParams}|"><i class="tf-icon bx bx-chevron-left"></i></a>
                                      </li>
                                      <th:block th:each="i:${#numbers.sequence(pageResponseDTO.page_block_start,pageResponseDTO.page_block_end)}">
                                          <li th:class="${pageResponseDTO.getPage() == i} ? 'page-item active' : 'page-item'">
                                              <a th:href="|/mypage/writeReplyList?category=${category1}&page=${i}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                                          </li>

                                      </th:block>
                                      <li class="page-item next" th:if="${pageResponseDTO.next_page_flag}">
                                          <a class="page-link" th:href="|/mypage/writeReplyList?category=${category1}&page=${pageResponseDTO.page_block_end +1}${pageResponseDTO.linkParams}|"><i class="tf-icon bx bx-chevron-right"></i></a>
                                      </li>
                                  </ul>
                              </nav>
                              <!--/ End Pagination -->
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
    </div>
    <!-- / Layout wrapper -->
  </div>
</section>
</th:block>
<th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
<!--    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>-->
<!--    <script src="/assets/vendor/js/menu.js"></script>-->
<!--    <script src="/assets/js/main.js"></script>-->
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </th:block>
</html>
