<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
<body>
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section>
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row justify-content-end">
                <div class="col-sm-12 col-md-12 px-lg-4 d-lg-flex d-md-flex justify-content-end">
                  <div class="row px-md-4 px-lg-4 mb-3 m-0">
                    <a href="/lecture/regist" class="col-sm-12 col-md-12 btn btn-primary">등록</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                  <div class="category-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                      <h3>키워드</h3>
                      <form action="/lecture/list">
                        <input type="text" name="search_word" placeholder="강의명&amp;선생님">
                        <button type="submit">
                          <i class="lni lni-search-alt"></i>
                        </button>
                      </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                      <h3>카테고리</h3>
                      <ul class="list">
                        <li>
                          <a href="/lecture/list">전체<span>[[${categoryTotalCount}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=100000">국어<span>[[${categoryLists[0]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=200000">수학<span>[[${categoryLists[1]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=300000">영어<span>[[${categoryLists[2]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=400000">한국사<span>[[${categoryLists[3]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=500000">사회<span>[[${categoryLists[4]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=600000">과학<span>[[${categoryLists[5]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=700000">직업<span>[[${categoryLists[6]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=800000">제2외국어<span>[[${categoryLists[7]}]]</span></a>
                        </li>
                        <li>
                          <a href="/lecture/list?category=900000">일반/진로/교양<span>[[${categoryLists[8]}]]</span></a>
                        </li>

                      </ul>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget banner">
                      <h3>광고</h3>
                      <a href="#">
                        <img class="w-100 rounded" src="/assets/img/banner/banner.jpg" alt="#">
                      </a>
                    </div>
                    <!-- End Single Widget -->
                  </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 py-0">
                  <div class="category-grid-list">
<!--                    <th:block th:if="${pageResponseDTO != null && pageResponseDTO.dtoList.size() > 0}">-->
                      <div class="row mt-sm-4 mx-sm-0 py-0 my-lg-0">
                        <div class="col-12">
                          <div class="tab-content py-0" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                              <div class="row">
                                <div class="col-lg-4 col-md-6 col-12" th:each="dto:${pageResponseDTO.dtoList}">
                                  <!-- Start Single Item -->
                                  <div class="single-item-grid">
                                    <div class="image">
                                      <a th:href="|/lecture/view?lectureIdx=${dto.lectureIdx}|"><img class="w-100" th:src="|${dto.thumbnailImgDirectory}/${dto.thumbnailImgFile}|" alt="#" /></a>
                                    </div>
                                    <div class="content">
                                      <a th:href="|/lecture/view?lectureIdx=${dto.lectureIdx}|" class="badge bg-label-primary">[[${dto.categoryName}]]</a>
                                      <h3 class="title border-0">
                                        <a th:href="|/lecture/view?lectureIdx=${dto.lectureIdx}|">[[${dto.title}]]</a>
                                      </h3>
                                      <p class="teacher">
                                        <a th:href="|/lecture/view?lectureIdx=${dto.lectureIdx}|"><span>[[${dto.teacherName}]]</span> 선생님</a>
                                      </p>
                                    </div>
                                  </div>
                                  <!-- End Single Item -->
                                </div>
                                  <!-- End Single Item -->
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <!-- Pagination -->
                                  <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
                                    <ul class="pagination">
                                      <li class="page-item prev" th:if="${pageResponseDTO.prev_page_flag}">
                                        <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_start -10})}${pageResponseDTO.linkParams}|" class="page-link" href="#"><i class="tf-icon bx bx-chevron-left"></i></a>
                                      </li>
                                      <th:block th:each="i:${#numbers.sequence(pageResponseDTO.page_block_start,pageResponseDTO.page_block_end)}">
                                        <li th:class="${pageResponseDTO.getPage() == i} ? 'page-item active' : 'page-item'">
                                          <a th:href="|/${category1}@{/list(page=${i})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                      </th:block>
                                      <li class="page-item next" th:if="${pageResponseDTO.next_page_flag}">
                                        <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_end +1})}${pageResponseDTO.linkParams}|" class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                                      </li>
                                    </ul>
                                  </nav>
                                  <!--/ End Pagination -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
<!--                    </th:block>-->
                        <!-- 등록된 내용이 없을때 표시할 친구 -->
<!--                    <th:block th:unless="${pageResponseDTO != null && pageResponseDTO.dtoList.size() > 0}">-->
<!--                      <div class="row">-->
<!--                        <div class="col-12 bg-white rounded shadow-sm">-->
<!--                          <div class="d-flex flex-column gap-3 align-items-center justify-content-center py-5">-->
<!--                            <h4>아직 등록된 강의가 없습니다.😢</h4>-->
<!--                            <small>해머틴에서는 여러분께 더 좋은 강의를 제공하기 위해 늘 노력하고 있습니다.</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </th:block>-->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </th:block>
</body>
</html>
