<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/common/common.html}">
<th:block layout:fragment="topScript">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['bar']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.

        function drawChart() {
            // Create the data table.

            let color = ['#F58A94', '#F7A8A4', '#FED2B7', '#FFFAA8', '#DCEBC2', '#ADDCCA', '#A1C2FF', '#3D80D9', '#747EE8', '#A25FFF', '#E1C6FF', '#3E5969', '#CCC7C4', '#7F6657'];


                var dayData = google.visualization.arrayToDataTable([
                    ['일자', '총 매출액'],
                    ['2024-05-01', 500],
                    ['2024-05-02', 100],
                    ['2024-05-03', 600],
                    ['2024-05-04', 1000],
                    ['2024-05-05', 300],
                    ['2024-05-06', 100],
                ]);

            var revenueOptions = {
                animation: {
                    startup: true,
                    duration: 500,
                    easing: 'in'
                },
                curveType: 'function',
                legend: {position: 'bottom'},
                backgroundColor: {
                    fill: '#f8f8f8'
                },
                tooltip: {
                    ignoreBounds: 'false',
                    textStyle: {ontSize: 16},
                    showColorCode: true
                },
                height: 500,
                colors: ['#ADDCCA', '#DCEBC2'],
                lineWidth: 5
            };

            var revenueDay = new google.visualization.LineChart(document.getElementById('revenue_div1'));
            revenueDay.draw(dayData, revenueOptions);
        }
    </script>
</th:block>
<body>
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section>
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <div class="row mb-3">
                                <div>
                                    <a href="/lecture/teacherList" class="btn btn-primary">목록으로</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="조회할 선색님을 선택하세요" name="teacherName" value="장지현" aria-describedby="selectTeacher" readonly>
                                    <button class="btn btn-outline-primary" type="button" id="selectTeacher" data-bs-target="#modal" data-bs-toggle="modal" onclick="initModal()">조회</button>
                                </div>
                            </div>
                            <div class="row">
                                <div id="revenueDay" class="revenue">
                                    <!--구글 차트 Start-->
                                    <div id="revenue_div1" class="rounded overflow-hidden shadow-sm">
                                    </div>
                                    <!--구글 차트 End-->
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width : 10%">
                                        <col style="width : 40%">
                                        <col style="width : 15%">
                                        <col style="width : 15%">
                                        <col style="width : 20%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th class="bg-label-primary">No</th>
                                        <th class="bg-label-primary">강의명</th>
                                        <th class="bg-label-primary">등록일</th>
                                        <th class="bg-label-primary">수강생</th>
                                        <th class="bg-label-primary">매출액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="d-flex gap-1 cursor-pointer" onclick="location.href = '/lecture/view?lectureIdx=1'">
                                                <img class="w-px-100 rounded" src="/assets/img/default.png">
                                                <span>강의 제목입니다.</span>
                                            </div>
                                        </td>
                                        <td>2024-05-24</td>
                                        <td>
                                            <span>00</span>명
                                        </td>
                                        <td>
                                            <span>10,000</span>원
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <!-- / Content -->
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">선생님조회</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="initModal()"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-3">
                    <div>
                        <label for="idOrName" class="form-label">아이디/이름</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="idOrName" name="searchMember" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="AJAXTeacherList()">조회</button>
                        </div>
                    </div>
                    <div class="overflow-y-scroll" style="height: 300px">
                        <table class="table">
                            <colgroup>
                                <col style="width: 10%">
                                <col style="width: 35%">
                                <col style="width: 35%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead class="table-secondary">
                            <tr>
                                <th class="text-center bg-primary text-white" scope="col">No</th>
                                <th class="text-center bg-primary text-white" scope="col">ID</th>
                                <th class="text-center bg-primary text-white" scope="col">이름</th>
                                <th class="text-center bg-primary text-white" scope="col">선택</th>
                            </tr>
                            </thead>
                            <tbody id="modal-tBody">
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">testID3</td>
                                <td class="text-center">테스트계정3</td>
                                <td class="text-center">
                                    <button class="btn btn-label-primary">선택</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">testID3</td>
                                <td class="text-center">테스트계정3</td>
                                <td class="text-center">
                                    <button class="btn btn-label-primary">선택</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">testID3</td>
                                <td class="text-center">테스트계정3</td>
                                <td class="text-center">
                                    <button class="btn btn-label-primary">선택</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="initModal()">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- build:js assets/vendor/js/core.js -->
<th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        function initModal() {
            $('#modal-tBody').html(`<tr><td colspan="4">아이디/이름으로 조회해주세요</td></tr>`);
            $('#idOrName').val("");
        }

        function AJAXTeacherList() {
            let idOrName = $('#idOrName');
            let idOrNameVal = $('#idOrName').val();
            if(!nullCheck($(idOrName))){
                alert("아이디 또는 이름을 입력해주세요");
                $(idOrName).focus();
            } else {
                $.ajax({
                    url: "/member/teacherList",
                    method: 'post',
                    dataType : 'json',
                    data : {
                        "userIdOrName" : idOrNameVal
                    },
                    success: function (data) {
                        if(data.length > 0) {
                            let memIdArr = [];
                            let memLies = document.querySelectorAll('span.memLi');
                            for(let mem of memLies) {
                                memIdArr.push(mem.dataset.id);
                            }
                            $('#modal-tBody').html("");
                            let cnt = data.length;
                            for(let i = 0; i < data.length; i++) {
                                let target = data[i].replaceAll("=", ":");
                                let obj = JSON.parse(target);
                                let targetId = obj.userId;
                                let targetName = obj.name;
                                $('#modal-tBody').append(`<tr><td class="text-center">${cnt}</td><td class="text-center">${targetId}</td><td class="text-center">${targetName}</td><td class="text-center"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-name="${targetName}" data-id="${targetId}" id="id-${targetId}">선택</button></td></tr>`);
                                cnt--;
                            }
                        } else {
                            alert("일치하는 회원이 없습니다. 다시 확인 부탁 드립니다.");
                        }
                    },
                    error : function(xhr, status, error) {
                        console.log("xhr! : " + xhr);
                        console.log("status! : " + status);
                        console.log("error! : " + error);
                    }
                })
            }
        }
    </script>
</th:block>
</body>
</html>
