<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
<body>
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section>
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                  <div class="category-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                      <h3>키워드</h3>
                      <form action="/lecture/teacherList">
                        <div class="navbar-nav justify-content-center align-items-center flex-row">

                          <div class="input-group input-group-merge">



                            <input type="hidden" name="search_type" value="n" />

                            <input aria-describedby="basic-icon-default-fullname2" class="form-control" id="basic-icon-default-fullname" name="search_word" placeholder="이름으로 검색" type="text">

                          </div>
                          <button class="btn rounded-pill btn-outline-primary" type="submit">
                            <i class="bx bx-search-alt-2 display-6 align-middle"></i>
                          </button>

                        </div>
                      </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                      <h3>카테고리</h3>
                      <ul class="list">
                        <li>
                          <a href="/lecture/teacherList">전체<span th:text="${pageResponseDTO.total_count}"></span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=국어">국어<span th:text="${koreanCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=수학">수학<span th:text="${mathCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=영어">영어<span th:text="${englishCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=한국사">한국사<span th:text="${historyCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=사회">사회<span th:text="${socialCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=과학">과학<span th:text="${scienceCount}"> 1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=직업">직업<span th:text="${jobCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=제2외국어">제2외국어<span th:text="${languageCount}">1</span></a>
                        </li>
                        <li>
                          <a href="/lecture/teacherList?categoryName=일반/진로/교양">일반/진로/교양<span th:text="${etcCount}" >1</span></a>
                        </li>

                      </ul>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget banner">
                      <h3>광고</h3>
                      <a href="#">
                        <img class="w-100 rounded" src="/assets/img/banner/banner.jpg" alt="#">
                      </a>
                    </div>
                    <!-- End Single Widget -->
                  </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 py-0">
                  <div class="category-grid-list">
                      <div class="row mt-sm-4 mx-sm-0 py-0 my-lg-0">
                        <div class="col-12">
                          <div class="tab-content py-0" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                              <div class="row">
                                  <th:block th:if="${pageResponseDTO.dtoList.size() > 0}">
                                  <div class="col-lg-4 col-md-6 col-12 position-relative"  th:each="dto, iterStat : ${pageResponseDTO.dtoList}">
                                      <!-- Start Single Item -->
                                      <div class="single-item-grid">
                                        <div>
                                          <a href="/lecture/list?teacherId=test">
                                            <img class="w-100 rounded" src="/assets/img/image/images.jpeg"  th:src="${'/upload/' + dto.profile}"
                                                 height="200"
                                                 width="200">
                                          </a>
                                        </div>
                                        <div class="content d-flex flex-column gap-2">
                                          <h3 class="title border-0 m-0">
                                           <span th:text="${dto.name}">전주연</span>선생님
                                          </h3>
                                          <div>
                                            <a href="/lecture/list?teacherId=test">
                                            <small class="badge bg-label-primary" th:text="${dto.categoryName}">과목</small>
                                            </a>
                                          </div>
                                          <div>
                                            <a href="/lecture/list?teacherId=test">
                                            <small th:text="${dto.writing}"></small>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                      <th:block th:if="${session.memberDTO != null and !session.memberDTO.role.toString().equals('user')}">
                                      <a href="/lecture/saleStatic?teacherIdx=1" class="btn btn-primary text-white fs-tiny position-absolute" style="top : 10px; right: 20px;">매출통계</a>
                                      </th:block>
                                      <!-- End Single Item -->
                                  </div>
                                  </th:block>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <!-- Pagination -->
                                  <div class="pagination justify-content-center">
                                    <ul class="pagination justify-content-center">
                                      <!-- Previous Button -->
                                      <li class="page-item" th:classappend="${!pageResponseDTO.prev_page_flag} ? ' disabled'">
                                        <a class="page-link"
                                           th:data-num="${pageResponseDTO.prev_page_flag ? pageResponseDTO.page_block_start - 1 : 1}"
                                           th:href="${pageResponseDTO.prev_page_flag ? '/lecture/teacherList?page_size=10&page=' + (pageResponseDTO.page_block_start - 10) : '#'}">
                                          <i class="lni lni-chevron-left"></i>
                                        </a>
                                      </li>
                                      <!-- Page Numbers -->
                                      <th:block th:each="i : ${#numbers.sequence(pageResponseDTO.page_block_start, pageResponseDTO.page_block_end)}">
                                        <li class="page-item" th:classappend="${pageResponseDTO.getPage() == i} ? ' active'">
                                          <a class="page-link" th:data-num="${i}"
                                             th:href="${pageResponseDTO.getPage() == i ? '#' : '/lecture/teacherList?page_size=10&page=' + i}">[[${i}]]</a>
                                        </li>
                                      </th:block>
                                      <!-- Next Button -->
                                      <li class="page-item" th:classappend="${!pageResponseDTO.next_page_flag} ? ' disabled'">
                                        <a class="page-link"
                                           th:data-num="${pageResponseDTO.next_page_flag ? pageResponseDTO.page_block_end + 1 : pageResponseDTO.page_block_end}"
                                           th:href="${pageResponseDTO.next_page_flag ? '/lecture/teacherList?page_size=10&page=' + (pageResponseDTO.page_block_end + 1) : '#'}">
                                          <i class="lni lni-chevron-right"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--/ End Pagination -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
<!--                    </th:block>-->
                        <!-- 등록된 내용이 없을때 표시할 친구 -->
<!--                    <th:block th:unless="${pageResponseDTO != null && pageResponseDTO.dtoList.size() > 0}">-->
<!--                      <div class="row">-->
<!--                        <div class="col-12 bg-white rounded shadow-sm">-->
<!--                          <div class="d-flex flex-column gap-3 align-items-center justify-content-center py-5">-->
<!--                            <h4>아직 등록된 강의가 없습니다.😢</h4>-->
<!--                            <small>해머틴에서는 여러분께 더 좋은 강의를 제공하기 위해 늘 노력하고 있습니다.</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </th:block>-->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </th:block>
</body>
</html>
