<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
        lang="en"
        layout:decorate="~{/common/common.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section>
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <div class="content-wrapper">
                        <!-- Content -->
                        <form>
                            <div class="container-xxl flex-grow-1 container-p-y">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 d-lg-flex mb-3 justify-content-between">
                                        <div class="d-lg-flex w-100 justify-content-start">
                                            <div class="row m-lg-0 pb-sm-1 pb-md-1">
                                                <a class="col-sm-12 btn btn-outline-primary" href="/lecture/list">목록</a>
                                            </div>
                                        </div>
                                        <div class="d-lg-flex w-100 justify-content-end">
                                            <div class="row m-lg-0 pb-sm-1 pb-md-1 pe-lg-1">
                                                <a onclick="return confirm('삭제하시겠습니까?');" th:if="|${session.memberDTO!=null && session.memberDTO.memberIdx.equals(lectureDTO.teacherIdx)}|" class="col-sm-12 btn btn-outline-primary" th:href="|/lecture/delete?lectureIdx=${lectureDTO.lectureIdx}|">삭제</a>
                                            </div>
                                            <div class="row m-lg-0 pb-sm-1 pb-md-1">
                                                <a class="col-sm-12 btn btn-primary" th:if="|${session.memberDTO!=null && session.memberDTO.memberIdx.equals(lectureDTO.teacherIdx)}|"
                                                   onclick="return confirm('수정하시겠습니까?');" th:href="|/lecture/modify?lectureIdx=${lectureDTO.lectureIdx}|">수정</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="card g-3">
                                        <div class="card-body row g-3">
                                            <div class="col-lg-8">
                                                <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
                                                    <div class="me-1">
                                                        <h5 class="mb-1 text-primary fw-bold">[[${lectureDTO.title}]]</h5>
                                                        <p class="mb-1"><span> [[${teacherDTO.name}]] </span> 선생님</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="badge bg-label-primary">[[${lectureDTO.categoryName}]]</span>

                                                    </div>
                                                </div>
                                                <div class="card academy-content shadow-none border">
                                                    <div class="p-2">
                                                        <div>
                                                            <video class="w-100 rounded" controls
                                                                   th:src="|${lectureDTO.thumbnailVideoDirectory}/${lectureDTO.thumbnailVideoFile}|"></video>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="fw-bold">강의소개</h5>
                                                        <p class="mb-4" th:utext="${lectureDTO.content}">
                                                        </p>
                                                        <hr class="my-4">
                                                        <h5 class="fw-bold">강사정보</h5>
                                                        <div class="d-flex justify-content-start align-items-center user-name">
                                                            <div class="avatar-wrapper">
                                                                <div class="avatar avatar-sm me-2"><img
                                                                        alt="Avatar" class="rounded-circle"
                                                                        th:src="${teacherDTO.profile} != null ? '/upload/'+${teacherDTO.profile} : '/assets/img/default.png'"></div>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <span class="fw-medium"><span>[[${teacherDTO.name}]]</span> 선생님</span>
                                                                <small class="text-muted">[[${teacherDTO.writing}]]</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="stick-top">
                                                    <!-- (구매 전) 결제 정보 -->
                                                      <div class="card mb-4" th:if="${checkOrder == null || checkOrder == 0}">
                                                          <div class="card-header card-header-pills bg-primary m-0 text-white py-3">
                                                              결제정보
                                                          </div>
                                                          <div class="card-body py-4">
                                                              <h4 class="text-start"><span class="text-primary fw-bold">[[${lectureDTO.price}]]</span>원</h4>
                                                              <div class="d-flex gap-1 justify-content-between">
                                                                  <a th:href="'/lecture/addCart?lectureIdx='+${lectureDTO.lectureIdx}" type="button" class="btn btn-outline-primary w-100 px-0 text-primary">장바구니 담기</a>
                                                                  <a th:href="'/payment/payment?lectureIdx='+${lectureDTO.lectureIdx}" type="button" class="btn btn-primary w-100 px-0 text-white">바로 결제하기</a>
                                                              </div>
                                                              <div class="d-flex gap-1 pt-3 justify-content-around">
                                                                  <a th:href="'/lecture/addGood?lectureIdx='+${lectureDTO.lectureIdx}"><i class="bx bx-like bx-sm mx-4 btn-icons"></i></a>
                                                                  <i class="bx bx-share bx-sm mx-4 btn-icons"></i>
                                                              </div>
                                                          </div>
                                                      </div>
                                                    <!-- (구매 후) 학습하러가기 -->
                                                    <div class="card mb-4" th:if="${checkOrder != null && checkOrder > 0}">
                                                        <div class="card-header card-header-pills bg-primary m-0 text-white py-3">
                                                            구매한 강의 입니다.
                                                        </div>
                                                        <div class="card-body py-4">
                                                            <div class="d-flex gap-1 justify-content-between">
                                                                <a th:href="|/mystudy/myLectureView?lectureIdx=${lectureDTO.lectureIdx}|" class="btn btn-primary w-100 px-0 text-white" type="button">학습하러 가기</a>
                                                                <button class="btn btn-outline-primary w-100 px-0 d-flex flex-column" data-bs-target="#reviewModal" data-bs-toggle="modal" type="button">
                                                                    <span>나의 평점</span>
                                                                    <!-- 등록 후 -->
                                                                    <span class="text-secondary" th:if="${lectureReplyDTO!=null}">
                                                                        <ul class="list star-list mb-1" >
                                                                            <i th:each="i:${#numbers.sequence(1,5)}" th:class="${i<=lectureReplyDTO.rating}?'lni lni-star-filled active-star':'lni lni-star-filled'"></i>
                                                                        </ul>
                                                                    </span>
                                                                    <!-- 등록 전 -->
                                                                <span class="text-secondary" th:if="${lectureReplyDTO==null}">평점 등록 전</span>
                                                                </button>
                                                            </div>
                                                            <div class="d-flex gap-1 pt-3 justify-content-around">
                                                                <a th:href="'/lecture/addGood?lectureIdx='+${lectureDTO.lectureIdx}"><i class="bx bx-like bx-sm mx-4 btn-icons"></i></a>
                                                                <i class="bx bx-share bx-sm mx-4 btn-icons"></i>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    <div class="accordion accordion-bordered" id="courseContent">
                                                        <div class="accordion-item shadow-none border border-bottom-0 mb-0 active">
                                                            <div class="accordion-header" id="heading1">
                                                                <button aria-controls="chapter1"
                                                                        aria-expanded="true"
                                                                        class="accordion-button bg-lighter rounded-0 collapsed"
                                                                        data-bs-target="#chapter1" data-bs-toggle="collapse"
                                                                        type="button">
                                                  <span class="d-flex flex-column">
                                                    <span class="h6 mb-1 fw-bold">회차정보</span>
                                                    <span class="fw-normal">총 [[${lectureDetailDTOList.size}]]회차</span>
                                                  </span>
                                                                </button>
                                                            </div>
                                                            <div class="accordion-collapse collapse show" data-bs-parent="#courseContent"
                                                                 id="chapter1" style="">
                                                                <div class="accordion-body py-3 border-top">
                                                                    <div class="d-flex align-items-center" th:each="dto,status:${lectureDetailDTOList}">
                                                                        <p class="p-0 m-0">
                                                                            <span class="h6"><i>[[${status.count}]]</i><span class="ps-2">[[${dto.detailTitle}]]</span></span>
                                                                            <span class="text-muted d-block ps-3">[[${dto.videoLength}]]</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item shadow-none border mb-0">
                                                            <div class="accordion-header" id="heading2">
                                                                <button aria-controls="chapter2"
                                                                        aria-expanded="true"
                                                                        class="accordion-button bg-lighter rounded-0 collapsed"
                                                                        data-bs-target="#chapter2" data-bs-toggle="collapse"
                                                                        type="button">
                                                <span class="d-flex flex-column">
                                                    <span class="h6 fw-bold mb-1">강의후기</span>
                                                        <span>
                                                            <ul class="list star-list mb-1" >
                                                                <i th:each="i:${#numbers.sequence(1,5)}" th:class="${i<=avgRating}?'lni lni-star-filled active-star':'lni lni-star-filled'"></i>
                                                            </ul>
                                                            <i class="fw-normal">( 총 [[${countRating}]]건 )</i>
                                                        </span>
                                                </span>
                                                                </button>
                                                            </div>
                                                            <div class="accordion-collapse collapse" data-bs-parent="#courseContent"
                                                                 id="chapter2" style="">
                                                                <div class="accordion-body py-3 border-top">
                                                                    <div class="d-flex flex-column align-items-center" th:each="dto,status:${lectureReplyDTOList.dtoList}">
                                                                        <p class="d-flex flex-column gap-1 w-100 py-3 m-0">
                                                                          <span>
                                                                                <i th:each="i:${#numbers.sequence(1,5)}" th:class="${i<=dto.rating}?'lni lni-star-filled active-star':'lni lni-star-filled'"></i>
                                                                            </span>
                                                                            <span class="h6 m-0">[[${dto.userId}]]</span>
                                                                            <span class="text-muted d-block ps-2 border rounded py-3">[[${dto.reviewContent}]]</span>
                                                                        </p>

                                                                    </div>
                                                                    <!-- Pagination -->

                                                                    <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
                                                                        <ul class="pagination">
                                                                            <li class="page-item prev" th:if="${lectureReplyDTOList.prev_page_flag}">
                                                                                <a th:href="|/lecture@{/view(page=${lectureReplyDTOList.page_block_start -10},lectureIdx=${lectureDTO.lectureIdx})}${lectureReplyDTOList.linkParams}|" class="page-link" href="#"><i class="tf-icon bx bx-chevron-left"></i></a>
                                                                            </li>
                                                                            <th:block th:each="i:${#numbers.sequence(lectureReplyDTOList.page_block_start,lectureReplyDTOList.page_block_end)}">
                                                                                <li th:class="${lectureReplyDTOList.getPage() == i} ? 'page-item active' : 'page-item'">
                                                                                    <a th:href="|/lecture@{/view(page=${i},lectureIdx=${lectureDTO.lectureIdx})}${lectureReplyDTOList.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                                                                                </li>
                                                                            </th:block>
                                                                            <li class="page-item next" th:if="${lectureReplyDTOList.next_page_flag}">
                                                                                <a th:href="|/lecture@{/view(page=${lectureReplyDTOList.page_block_end +1},lectureIdx=${lectureDTO.lectureIdx})}${lectureReplyDTOList.linkParams}|" class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                    <!--/ End Pagination -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                        <!-- / Content -->
                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="reviewModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reviewModalLabel">나의 평점</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form action="/lecture/registreply" method="post">
                        <input type="hidden" name="lectureIdx" th:value="${lectureDTO.lectureIdx}">
                        <div th:if="${lectureReplyDTO}==null">
                            <p class="p-0 m-0">별점을 선택해주세요.</p>
                            <ul class="list star-list mb-1">
                                <li id="star_ul">
                                    <i class="lni lni-star-filled active-star" data-score="1"></i>
                                    <i class="lni lni-star-filled active-star" data-score="2"></i>
                                    <i class="lni lni-star-filled active-star" data-score="3"></i>
                                    <i class="lni lni-star-filled" data-score="4"></i>
                                    <i class="lni lni-star-filled" data-score="5"></i>
                                </li>
                            </ul>
                            <input id="rank" name="rating" type="hidden" value="3">
                            <div class="form-group">
                                <textarea class="form-control different-control w-100" cols="30"
                                          id="review_contents" maxlength="100" name="reviewContent" placeholder="리뷰를 작성해주세요"
                                          rows="5"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer p-0" th:if="${lectureReplyDTO}==null">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                            <button class="btn btn-primary" type="submit">저장</button>
                        </div>
                    </form>
                    <div th:if="${lectureReplyDTO!=null}">
                        <ul class="list star-list mb-1" >
                            <i th:each="i:${#numbers.sequence(1,5)}" th:class="${i<=lectureReplyDTO.rating}?'lni lni-star-filled active-star':'lni lni-star-filled'"></i>
                        </ul>
                        <div class="text-muted d-block ps-2 border rounded py-3">
                            <p>[[${lectureReplyDTO.reviewContent}]]</p>
                        </div>
                        <div class="modal-footer p-0">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- build:js assets/vendor/js/core.js -->
<th:block layout:fragment="script">
    <script src="/assets/js/plyr.js"></script>
    <script>
        let stars = document.querySelectorAll('#star_ul > i')
        for (let star of stars) {
            star.addEventListener("click", (event) => {
                clickStart(star);
            })
        }

        function clickStart(element) {
            let realStars = document.querySelectorAll('#star_ul > i');
            let score = element.dataset.score;
            document.getElementById("rank").value = score;
            for (let rStar of realStars) {
                rStar.classList.remove('active-star');
            }
            for (let i = 0; i < score; i++) {
                realStars[i].classList.add('active-star');
            }
        }
    </script>
</th:block>
</body>
</html>
