<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed layout-navbar-fixed layout-wide"
        lang="en"
        layout:decorate="~{/common/common.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section style="padding:4rem">
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <!-- Layout container -->
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <div class="row mb-2">
                            <div class="category-sidebar p-0">
                                <div class="container-xxl flex-grow-1 container-p-y p-3">
                                    <div class="container-xxl flex-grow-1 container-p-y p-3 row m-0 justify-content-between">
                                        <div class="col-6">
                                        <button type="button" id="listBtn" class="btn btn-outline-primary col-2 mx-1"><i class="lni lni-list"></i>
                                            <a href="/board/list">&nbsp;목록</a></button>
                                        </div>
                                        <div class="col-6 row justify-content-end">
                                            <button type="button" id="modifyBtn" class="btn btn-outline-primary col-2 mx-1"><i class="bx bxs-trash"></i>
                                                <a href="/board/delete">&nbsp;삭제</a></button>
                                            <button type="button" id="deleteBtn" class="btn btn-primary col-2 mx-1"><i class="lni lni-write"></i>
                                                <a href="/board/modify" class="text-white">&nbsp;수정</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="my-items bg-white rounded shadow-sm m-5">
                                        <!-- Start List Title -->
                                        <div class="item-list-title rounded-top p-3 bg-primary">
                                            <div class="row align-items-center">
                                                <div class="col-12 d-flex align-items-center p-2">
                                                    <p class="p-0 m-0 text-white">제목 내용</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-list-title  p-3 border">
                                            <div class="row m-0 align-items-center justify-content-between">
                                                <div class="col-lg-6 col-12 px-0">
                                                    <div class="row m-0">
                                                        <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center p-3 my-2 rounded-start border-primary text-center">
                                                            <p class="p-0 m-0 text-center">작성자</p>
                                                        </div>
                                                        <div class="col-lg-10 col-md-10 col-12 p-3 my-2 border">
                                                            <p class="p-0 m-0">김철수</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-12 px-0">
                                                    <div class="row m-0">
                                                        <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center my-2 p-3 border-primary text-center">
                                                            <p class="p-0 m-0 text-center">등록일</p>
                                                        </div>
                                                        <div class="col-lg-10 col-md-10 col-12 p-3 my-2 rounded-end border">
                                                            <p class="p-0 m-0">2024.05.24</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-center">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center p-3 my-2 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">조회수</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 my-2 rounded-end border">
                                                    <p class="p-0 m-0">0</p>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-stretch">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center my-2 p-3 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">첨부파일</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 my-2 rounded-end border overflow-y-scroll" style="max-height: 300px">
                                                    <p class="p-1 border rounded"><button class="btn btn-secondary me-3"><i class="lni lni-empty-file"></i></button>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-stretch">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center my-2 p-3 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">내용</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 my-2 rounded-end border overflow-y-scroll" style="height: 500px">
                                                    호호 불면은 커다란 솜사탕! ㅋㅋ
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 mt-3">
                                <div class="post-comments">
                                    <h3 class="comment-title"><span>댓글</span></h3>
                                    <form class="m-0 mb-5 row" method="post">
                                        <div class="col-lg-11 col-12 p-0">
                                            <input type="hidden" name="bbsIdx">
                                            <input type="hidden" name="category1" >
                                            <textarea class="form-control" name="content" rows="3"></textarea>
                                        </div>
                                        <div class="col-lg-1 col-12 p-0" >
                                            <button class="btn btn-primary w-100 h-100" onclick="">등록</button>
                                        </div>
                                    </form>
                                    <ul class="comments-list">
                                        <li>
                                            <div class="comment-desc pb-5 mt-5 border-bottom">
                                                <form method="post">
                                                    <input type="hidden" name="replyIdx" value="">
                                                    <input type="hidden" name="bbsIdx" value="">
                                                    <input type="hidden" name="userId" value="">
                                                    <div class="desc-top d-flex justify-content-between w-100">
                                                        <div>
                                                            <span class="date">등록일시 :</span>
                                                            <span class="date">수정일시 : </span>
                                                        </div>
                                                        <div class="d-flex gap-1 align-items-center">
                                                            <a href="#" class="reply-link position-sticky"><i class="lni lni-brush-alt"></i>수정</a>
                                                            <a href="#" class="reply-link position-sticky"><i class="lni lni-eraser"></i>삭제</a>
                                                        </div>
                                                    </div>
                                                    <p class="text-area"></p>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
            <!-- / Layout wrapper -->
        </div>
    </section>
</th:block>
<th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/assets/js/regist.js"></script>
</th:block>
</html>
