<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed layout-navbar-fixed layout-wide"
        lang="en"
        layout:decorate="~{/common/common.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section style="padding:4rem">
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <!-- Layout container -->
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <div class="row mb-2">
                            <div class="category-sidebar p-0">
                                <div class="container-xxl flex-grow-1 container-p-y p-3">
                                    <div class="container-xxl flex-grow-1 container-p-y p-3 row m-0 justify-content-between">
                                        <div class="col-6">
                                        <button type="button" id="listBtn" class="btn btn-outline-primary col-2 mx-1"
                                                th:href="|/board/list?category1=${category1}|"
                                                onclick="goToLink(this.attributes.href.nodeValue)"><i class="lni lni-list"></i>목록</button>
                                        </div>
                                        <div class="col-6 row justify-content-end">
                                        <form id="viewFrm" name="viewFrm" method="post" class="row justify-content-end">
                                            <input type="hidden" name="bbsIdx" th:value="${bbsDTO.bbsIdx}">
                                            <th:block th:if="${session.memberDTO != null}">
                                                <th:block th:if="${session.memberDTO.getUserId() == bbsDTO.userId || session.memberDTO.getRole() == 'admin'}">
                                                <button type="button" id="modifyBtn" class="btn btn-primary col-2 mx-1"
                                                        th:href="|/board/modify?category1=${category1}&bbsIdx=${bbsDTO.bbsIdx}|"
                                                        onclick="goToLink(this.attributes.href.nodeValue)"><i class="lni lni-write"></i>수정</button>
                                                <button type="button" id="deleteBtn" class="btn btn-outline-primary col-2 mx-1"
                                                        onclick="delPost()"><i class="bx bxs-trash"></i>삭제</button>
                                                </th:block>
                                            </th:block>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="my-items bg-white rounded shadow-sm m-5">
                                        <!-- Start List Title -->
                                        <div class="item-list-title rounded-top p-3 bg-primary">
                                            <div class="row align-items-center">
                                                <div class="col-12 d-flex align-items-center p-2">
                                                    <p class="p-0 m-0 text-white">[[${bbsDTO.title}]]</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-list-title  p-3 border">
                                            <div class="row m-0 align-items-center justify-content-between">
                                                <div class="col-lg-6 col-12 px-0">
                                                    <div class="row m-0">
                                                        <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center p-3 my-2 rounded-start border-primary text-center">
                                                            <p class="p-0 m-0 text-center">작성자</p>
                                                        </div>
                                                        <div class="col-lg-10 col-md-10 col-12 p-3 my-2 border">
                                                            <p class="p-0 m-0">[[${bbsDTO.userId}]]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-12 px-0">
                                                    <div class="row m-0">
                                                        <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center my-2 p-3 border-primary text-center">
                                                            <p class="p-0 m-0 text-center">등록일</p>
                                                        </div>
                                                        <div class="col-lg-10 col-md-10 col-12 p-3 my-2 rounded-end border">
                                                            <p class="p-0 m-0">[[${#strings.substring(bbsDTO.regDate,0,10)}]]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-center">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center p-3 my-2 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">조회수</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 my-2 rounded-end border">
                                                    <p class="p-0 m-0">[[${bbsDTO.readCnt}]]</p>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-stretch">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center my-2 p-3 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">첨부파일</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="max-height: 300px">
                                                    <p class="p-1 border rounded" th:each="dto:${bbsFileDTOList}"><button class="btn btn-secondary me-3"> </button> <a th:href="|/board/downloadfile?fileName=${dto.fileName}|">>[[${dto.fileName}]]</a></p>
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-stretch">
                                                <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center my-2 p-3 rounded-start border-primary text-center">
                                                    <p class="p-0 m-0 text-center">내용</p>
                                                </div>
                                                <div class="col-lg-11 col-md-10 col-12 p-3 my-2 rounded-end border overflow-y-scroll" style="height: 500px" th:utext="${bbsDTO.content}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 mt-3">
                                <div class="post-comments">
                                    <h3 class="comment-title"><span>댓글</span></h3>
                                    <form class="m-0 mb-5 row" method="post" id="regiFrm" name="regiFrm" action="/board/replyRegist" >
                                        <div class="col-lg-11 col-12 p-0">
                                            <input type="hidden" name="bbsIdx" th:value="${bbsDTO.bbsIdx}">
                                            <input type="hidden" name="category1" th:value="${bbsDTO.category1}">
                                            <th:block th:if="${session.memberDTO.getUserId() != null}">
                                                <textarea class="form-control" name="content" rows="3"></textarea>
                                            </th:block>
                                            <th:block th:if="${session.memberDTO.getUserId() == null}">
                                                <textarea class="form-control" name="content" rows="3" disabled>로그인 후 등록 가능합니다.</textarea>
                                            </th:block>
                                        </div>

                                            <div class="col-lg-1 col-12 p-0" >
                                                <button type="submit" class="btn btn-primary w-100 h-100"  id="regiReplyBtn">등록</button>
                                            </div>
                                    </form>
                                    <ul class="comments-list">
                                        <th:block th:if="${replyDTO != null and replyDTO.size() > 0}">
                                            <li th:each="dto:${replyDTO}" th:id="'list'+${dto.replyIdx}" style="list-style: none">
                                            <div class="single-item-list border-dark border-1 rounded-bottom item-list-title">
                                                <div class="cursor-pointer border-bottom">
                                                        <div class="comment-desc pb-5 mt-5 border-bottom">
                                                            <form th:id="'replyFrm'+${dto.replyIdx}" class="replyFrm" name="replyFrm" method="post">
                                                                <div class="desc-top d-flex justify-content-between w-100">
                                                                    <input type="hidden" name="replyIdx" th:value="${dto.replyIdx}">
                                                                    <input type="hidden" name="bbsIdx" th:value="${dto.bbsIdx}">
                                                                    <input type="hidden" name="category" th:value="${bbsDTO.category1}">
                                                                    <input type="hidden" name="userId" th:value="${session.memberDTO.getUserId()}">
                                                                    <div>
                                                                        <span class="date">등록일시 :<span th:text="${#strings.substring(dto.regDate,0,10)}">등록일</span></span>
                                                                        <th:block th:if="${dto.modifyDate != null}"><span class="date">수정일시 : </span><span th:text="${#strings.substring(dto.modifyDate,0,10)}">&nbsp;수정일</span></th:block>
                                                                    </div>
                                                                    <div class="d-flex gap-1 align-items-center">
                                                                        <th:block th:if="${dto.userId == session.memberDTO.getUserId()|| session.memberDTO.getRole() == 'admin'}">
                                                                        <a class="reply-link position-sticky" th:data-idx="${dto.replyIdx}" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>
                                                                        <a  class="reply-link position-sticky" th:data-idx="${dto.replyIdx}" onclick="delReply(this)"><i class="lni lni-eraser"></i>삭제</a>
                                                                        </th:block>
                                                                    </div>
                                                                </div>
                                                                <div class="targetArea">
                                                                    <p class="mt-2">작성자 : [[${dto.userId}]]</p>
                                                                    <p class="text-area"  th:utext="${dto.content}"></p>

                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </th:block>
                                        <th:block th:unless="${replyDTO != null and replyDTO.size() > 0}">
                                            <li style="list-style: none">
                                                <div class="single-item-list border-dark border-1 rounded-bottom item-list-title">
                                                    <div class="cursor-pointer border-bottom">
                                                        <div class="comment-desc pb-5 mt-5 border-bottom">
                                                                <div class="desc-top d-flex justify-content-between w-100">
                                                                    <div>
                                                                    </div>
                                                                    <div class="d-flex gap-1 align-items-center">
                                                                    </div>
                                                                </div>
                                                                <p class="text-area">아직 등록된 댓글이 없습니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
            <!-- / Layout wrapper -->
        </div>
    </section>
</th:block>
<th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/assets/js/regist.js"></script>
    <script>
        function delPost() {
            document.getElementById("viewFrm").action='/board/delete';
            document.getElementById("viewFrm").submit();
        }

        const regiReplyBtn =document.querySelector("#regiReplyBtn");
        regiReplyBtn.addEventListener("click",function(e){
           e.preventDefault();
           document.regiFrm.submit();
        });
        function delReply(element) {
            let idx = element.dataset.idx
            let idxToformId = '#replyFrm'+idx;
            let frm = $('#replyFrm'+idx);
            let listfrm = $('#list'+idx);
            let replyIdx = $(idxToformId + " input[name=replyIdx]").val();
            let bbsIdx = $(idxToformId + " input[name=bbsIdx]").val();
            let userId = $(idxToformId + " input[name=userId]").val();

            $.ajax({
                url: "/board/replyDelete",
                method: 'post',
                dataType : 'text',
                data : {
                    "replyIdx" : replyIdx,
                    "bbsIdx" : bbsIdx,
                    "userId" : userId
                },
                success: function(data) {
                    if(data === "1") {
                        listfrm.remove();
                    }


                },
                error : function(xhr, status, error) {
                    console.log("xhr! : " + xhr);
                    console.log("status! : " + status);
                    console.log("error! : " + error);
                }
            })

        }
        function modifyReply(element) {
            // $(element).parent().parent().parent().$(input)
            let idx = element.dataset.idx
            let idxToformId = '#replyFrm'+idx;
            let frm = $('#replyFrm'+idx);
            let replyIdx = $(idxToformId + " input[name=replyIdx]").val();
            let bbsIdx = $(idxToformId + " input[name=bbsIdx]").val();
            let category = $(idxToformId + " input[name=category]").val();
            let userId = $(idxToformId + " input[name=userId]").val();
            let content = $(idxToformId + " textarea[name=content]").val();

            $.ajax({
                url: "/board/replyModify",
                method: 'post',
                dataType : 'text',
                data : {
                    "replyIdx" : replyIdx,
                    "bbsIdx" : bbsIdx,
                    "category" : category,
                    "userId" : userId,
                    "content" : content
                },
                success: function(data) {
                    console.log(data);
                    if(data.length > 0) {
                        changeToView(element);
                        $(idxToformId + " .text-area").text(data);
                    }
                },
                error : function(xhr, status, error) {
                    console.log("xhr! : " + xhr);
                    console.log("status! : " + status);
                    console.log("error! : " + error);
                }
            })
        }
        function changeToModifyForm(element) {
            event.preventDefault();
            event.stopPropagation();
            let idx = element.dataset.idx;
            let textArea = element.parentElement.parentElement.parentElement.querySelector('.text-area');
            textArea.outerHTML = `<textarea name="content" class="form-control" rows="3" wrap="hard" >${textArea.innerText}</textarea>`;
            element.outerHTML = `<a class="reply-link position-sticky" data-idx="${idx}" onclick="modifyReply(this)" ><i class="lni lni-save"></i>저장</a>`
        }
        function changeToView(element) {
            event.preventDefault();
            event.stopPropagation();
            let idx = element.dataset.idx;
            let textArea = element.parentElement.parentElement.parentElement.querySelector('textarea');
            let textAreaVal = textArea.value.replaceAll('\n', '<br>');
            console.log("????????" +textAreaVal);
            textArea.outerHTML = `<p class="text-area"></p>`;
            element.parentElement.parentElement.parentElement.querySelector('.text-area').innerHTML = textAreaVal;
            element.outerHTML = `<a class="reply-link position-sticky" data-idx="${idx}" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>`
        }

        function delView(element) {
            event.preventDefault();
            event.stopPropagation();
            let idx = element.dataset.idx;

        }
    </script>
</th:block>
</html>
