<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{/common/common.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Layout wrapper -->
<th:block layout:fragment="content">
    <section>
        <div class="container">
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <div class="content-wrapper">
                        <!-- Content -->
                        <form>
                            <div class="container-xxl flex-grow-1 container-p-y">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 d-lg-flex mb-3 justify-content-between">
                                        <div class="d-lg-flex w-100 justify-content-start">
                                            <div class="row m-lg-0 pb-sm-1 pb-md-1">
                                                <a class="col-sm-12 btn btn-outline-primary" href="/lecture/list">취소</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="card g-3">
                                        <div class="card-body row g-3">
                                            <div class="col-lg-8">
                                                <div class="card academy-content shadow-none border">
                                                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-1 m-0">
<!--                                                        <th:block th:if="${lectureDTOList.size() > 0}">-->
                                                            <div class="row m-0 p-2 justify-content-between align-items-center" th:each="dto : ${lectureDTOList}">
                                                                <div class="col-2">
                                                                    <img class="w-100 rounded" th:src="${dto != null and dto.thumbnailImgFile != null} ? '/upload/'+${dto.thumbnailImgFile} : '/assets/img/default.png'">
                                                                </div>
                                                                <div class="col-8">
                                                                    <h5 class="mb-1 text-primary fw-bold" th:text="${dto.title}">강의 제목입니다.</h5>
                                                                    <p class="mb-1"><span class="fw-medium" th:text="${dto.teacherName}"> Devonne Wallbridge </span>선생님</p>
                                                                </div>
                                                                <div class="d-flex align-items-center col-2">
                                                                    <span class="text-primary fw-bold" th:text="${dto.price}">10,000</span><span>원</span>
                                                                </div>
                                                                <input type="hidden" name="lectureIdx" th:value="${dto.lectureIdx}">
                                                            </div>
<!--                                                        </th:block>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="stick-top">
                                                    <div class="card mb-4">
                                                        <div class="card-header card-header-pills bg-primary m-0 text-white py-3 d-flex justify-content-between align-items-center">
                                                            주문자정보
                                                            <a href="/mypage/mypage" type="button" class="btn btn-icons px-0 text-white p-0"><i class='bx bxs-cog'></i></a>
                                                        </div>
                                                        <div class="card-body py-4">
                                                            <div>
                                                                <input type="hidden" id="userId" th:value="${session.memberDTO.getUserId()}">
                                                                <p>이름 : <span id="name" th:text="${session.memberDTO.getName()}">장지현</span></p>
                                                                <p>이메일 : <span id="email" th:text="${session.memberDTO.getEmail()}">test@test.test</span></p>
                                                                <p>휴대폰 : <span id="phone" th:text="${session.memberDTO.getPhoneNumber()}">010-0000-0000</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card mb-4">
                                                        <div class="card-header card-header-pills bg-primary m-0 text-white py-3">
                                                            결제정보
                                                        </div>
                                                        <div class="card-body py-4">
                                                            <h4 class="text-start"><span class="text-primary fw-bold" id="amount" th:text="${totalPrice}">20,000</span>원</h4>
                                                            <div class="d-flex gap-1 justify-content-between">
                                                                <button type="button" class="btn btn-primary w-100 px-0 text-white" onclick="requestPay()">결제하기</button>
                                                            </div>
                                                            <div class="form-check mt-3">
                                                                <input class="form-check-input" name="agreeCheck" type="checkbox" value="" id="agreeCheck">
                                                                <label class="form-check-label" for="agreeCheck">
                                                                    회원 본인은 주문내용을 확인했으며, 구매조건 및 개인정보처리방침과 결제에 동의합니다.
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- / Content -->
                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
        </div>
    </section>
    <!-- Modal -->
</th:block>
<!-- build:js assets/vendor/js/core.js -->
<th:block layout:fragment="script">
    <script src="/assets/js/plyr.js"></script>
    <script src="/assets/js/iamport.payment-1.2.0.js"></script>
    <script src="/assets/js/payment.js"></script>
</th:block>
</body>
</html>
