<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
<body>
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section>
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="nav-align-top mb-4">
                    <div class="d-flex justify-content-between">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" aria-controls="navs-pills-top-home" aria-selected="true">전체</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="navs-pills-top-profile" aria-selected="false" tabindex="-1">수강중</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"aria-controls="navs-pills-top-messages" aria-selected="false" tabindex="-1">수강완료</button>
                        </li>
                    </ul>
                        <div>
                            <select class="form-select" id="orderSelectBox">
                                <option value="1">최근 학습순</option>
                                <option value="2">최근 구매순</option>
                                <option value="3">제목순</option>
                            </select>
                        </div>
                    </div>
                    <div class="tab-content border">
                        <div class="tab-content py-0" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" th:each="dto:${lectureDTOList}">
                                        <div class="single-item-grid position-relative">
                                            <div class="image">
                                                <a th:href="|/mystudy/myLectureView?lectureIdx=${dto.lectureIdx}|"><img class="w-100" th:src="|${dto.thumbnailImgDirectory}/${dto.thumbnailImgFile}|" alt="#"></a>
                                                <span th:href="|/mystudy/myLectureView?lectureIdx=${dto.lectureIdx}|" class="badge bg-label-danger position-absolute" style="top:10px;right: 10px;">수강중</span>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center gap-3 px-2">
                                                <div class="progress w-100" style="height: 8px;">
                                                    <div class="progress-bar" th:style="|width: ${dto.percentage}|" th:aria-valuenow="${dto.percentage}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <small class="text-muted">[[${dto.percentageString}]]</small>
                                            </div>
                                            <div class="content">
                                                <a th:href="|/mystudy/myLectureView?lectureIdx=${dto.lectureIdx}|" class="badge bg-label-primary">[[${dto.categoryName}]]</a>
                                                <h3 class="title border-0">
                                                    <a th:href="|/mystudy/myLectureView?lectureIdx=${dto.lectureIdx}|">[[${dto.title}]]</a>
                                                </h3>
                                                <p class="teacher">
                                                    <a th:href="|/mystudy/myLectureView?lectureIdx=${dto.lectureIdx}|"><span>[[${dto.teacherName}]]</span> 선생님</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="row">-->
<!--                                    <div class="col-12">-->
<!--                                        &lt;!&ndash; Pagination &ndash;&gt;-->
<!--                                        <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">-->
<!--                                            <ul class="pagination">-->
<!--                                                <li class="page-item prev">-->
<!--                                                    <a class="page-link" href="#"><i class="tf-icon bx bx-chevron-left"></i></a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item active">-->
<!--                                                    <a class="page-link" href="#">1</a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item">-->
<!--                                                    <a class="page-link" href="#">2</a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item">-->
<!--                                                    <a class="page-link" href="#">3</a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item">-->
<!--                                                    <a class="page-link" href="#">4</a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item">-->
<!--                                                    <a class="page-link" href="#">5</a>-->
<!--                                                </li>-->
<!--                                                <li class="page-item next">-->
<!--                                                    <a class="page-link" href="#"><i class="tf-icon bx bx-chevron-right"></i></a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </nav>-->
<!--                                        &lt;!&ndash;/ End Pagination &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </th:block>
</body>
</html>
