<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
<body>
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section>
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- 학생이 보는 성적표 -->
                <th:block th:if="${memberRole.equals('user')}">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive text-nowrap">
                                <h3 class="text-primary">나의 성적표</h3>
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width : 15%">
                                        <col span="3" style="width : 20%">
                                        <col style="width : 15%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th class="bg-label-primary">No</th>
                                        <th class="bg-label-primary">강의명</th>
                                        <th class="bg-label-primary">강사</th>
                                        <th class="bg-label-primary">수강완료일</th>
                                        <th class="bg-label-primary">점수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${myLectureDTOList != null && myLectureDTOList.size() > 0}">
                                        <tr th:each="dto, status : ${myLectureDTOList}">
                                            <td th:text="${status.count}">5</td>
                                            <td th:text="${dto.lectureDTO.title}">강의명입니다만?</td>
                                            <td th:text="${dto.lectureDTO.teacherName}"><span>전주연</span>선생님</td>
                                            <td th:text="${dto.regDateToString}">2024-05-24</td>
                                            <td><span class="badge bg-label-primary me-1" th:text="${dto.lectureScoreDTO != null ? dto.lectureScoreDTO.lectureScore : '-' }">100</span>점</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:unless="${myLectureDTOList != null && myLectureDTOList.size() > 0}">
                                        <tr>
                                            <td colspan="5" class="align-middle text-center">
                                                <p>아직 수강중인 강의가 없네요!</p>
                                                <a href="/lecture/list" class="btn btn-primary">강의 둘러보러가기</a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:unless="${memberRole.equals('user')}">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive text-nowrap">
                                <h3 class="text-primary">성적관리</h3>
                                <form id="frmScore" method="post" action="/mystudy/myReportCardList">
                                    <div class="d-flex mb-3">
                                        <p class="p-2 m-0 border rounded col-10 lecture-title" th:text="${lectureDTO != null} ? ${lectureDTO.title} : '강의를 선택해주세요'">강의 명이 들어가지</p>
                                        <button type="button" class="btn btn-primary col-2" data-bs-toggle="modal" data-bs-target="#lectureModal">조회</button>
                                        <input type="hidden" id="lectureIdx" name="lectureIdx" th:value="${lectureDTO != null} ? ${lectureDTO.lectureIdx} : '0'">
                                    </div>
                                    <th:block th:if="${studentList != null && studentList.size() > 0}">
                                    <div class="my-3 text-end">
                                        <button type="submit" class="btn btn-outline-primary">저장</button>
                                    </div>
                                    </th:block>
                                    <!-- 강의 조회 전에는 데이터 없게 -->
                                    <table class="table table-bordered">
                                        <colgroup>
                                            <col style="width : 15%">
                                            <col span="3" style="width : 20%">
                                            <col style="width : 15%">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th class="bg-label-primary">No</th>
                                            <th class="bg-label-primary">수강생명</th>
                                            <th class="bg-label-primary">아이디</th>
                                            <th class="bg-label-primary">수강완료일</th>
                                            <th class="bg-label-primary">점수</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:if="${studentList != null && studentList.size() > 0}">
                                            <tr th:each="student, status : ${studentList}">
                                                <td th:text="${status.count}">3</td>
                                                <td th:text="${student.memberDTO.name}">전주연</td>
                                                <td th:text="${student.userId}">test</td>
                                                <td th:text="${student.regDateToString}">2024-05-24</td>
                                                <td>
                                                    <input type="number" class="form-control d-inline w-75" max="100" name="score" th:value="${student.lectureScoreDTO != null} ? ${student.lectureScoreDTO.lectureScore} : ''"><span>점</span>
                                                    <input type="hidden" name="userId" th:value="${student.userId}">
                                                </td>
                                            </tr>
                                        </th:block>
                                        <th:block th:unless="${studentList != null && studentList.size() > 0}">
                                            <tr>
                                                <td class="text-center align-middle" colspan="5">아직 수강생이 없습니다😢</td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
                <!-- 선생님이 보는 성적표 -->
            </div>
            <!-- / Content -->
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
    <div aria-hidden="true" aria-labelledby="lectureModalLabel" class="modal fade" id="lectureModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="lectureModalLabel">강의 리스트</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div id="lectureList" class="border card overflow-y-scroll list-group list-group-flush" style="max-height: 500px">
                        <th:block th:if="${lectureList != null && lectureList.size() > 0}">
                                <a th:each="lecture : ${lectureList}" th:href="'/mystudy/myReportCardList?lectureIdx='+${lecture.lectureIdx}" th:text="${lecture.title}" class="list-group-item list-group-item-action">강의명입니다1.</a>
                        </th:block>
                        <th:block th:unless="${lectureList != null && lectureList.size() > 0}">
                                <p class="text-center">아직 등록한 강의가 없는 것 같아요!</p>
                                <a href="/lecture/regist" class="btn btn-primary">강의 등록하러가기</a>
                        </th:block>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/pages-account-settings-account.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        document.getElementById('frmScore').addEventListener("submit", (event)=> {
            event.preventDefault();
            let inputEl = document.querySelectorAll('input[name=score]');
            for(let el of inputEl) {
                if(!nullCheck2($(el))){
                    alert("빈칸이 있습니다. \n모든 항목을 입력해주세요");
                    $(el).focus();
                    return false;
                }
            }
            document.getElementById('frmScore').submit();
        })

    </script>
    </th:block>
</body>
</html>
