<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide layout-navbar-fixed"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/common/common.html}">
<body>
    <!-- Layout wrapper -->
    <th:block layout:fragment="content">
    <section>
      <div class="container">
        <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <th:block th:insert="~{/mystudy/calendar :: calendar}">
                </th:block>
            </div>
            <!-- / Content -->
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      </div>
    </section>
    </th:block>
    <!-- build:js assets/vendor/js/core.js -->
    <th:block layout:fragment="script">
        <script src="/assets/js/calendar.js"></script>
        <script>
            window.onload = ()=>{
                let today = new Date();
                $('#btnRegist').attr('data-today', getToday());
                $('#today').attr('data-today', getToday());
                makeCalendar(today);
            };
        </script>
    </th:block>
</body>
</html>
